/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-size: 14px;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-niramit), sans-serif;
}

.p-component {
  font-size: 14px;
  padding: 8px 15px;
  font-family: var(--font-niramit);
  &.p-dropdown-panel {
    padding: 0px;
  }

  &.p-password {
    padding: 0;
    div {
      width: 100%; 
      input {
        width: 100%; 
      }
    }
  }
}

.p-dropdown {
  display: flex;
  align-items: center;
  &.p-component {
    padding: 5px 0px;
    height: 35px;
  }
}

.p-paginator-element {
  height: 35px;
  width: 35px;
}

.p-paginator-pages .p-paginator-page {
  height: 35px !important;
  width: 35px !important;
  line-height: 35px; /* Ensure text is centered */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px
}

.p-dropdown-label {
  padding: 8px 15px;
}

.p-button {
  padding: 6px 15px;
  font-family: var(--font-niramit);
}

.p-inputtext {
  padding: 6px 15px;
  font-family: var(--font-niramit);
}

.p-button-icon-only {
  padding: 6px 0px;
}

.p-button {
  align-items: flex-end;
  .p-button-icon + .p-button-label {
    display: flex;
    align-items: center
  }
  &.p-button-icon-only {
    align-items: center;
    height: 35px;
    width: 35px;
  }
}

.p-dropdown-items {
  padding: .25rem 0;
  li {
    padding: .5rem 1.25rem;
  }
}

.p-button:focus {
  box-shadow: 0 0 0 0.05rem;
}

.class-custom-bar {
  position: fixed;
  width: 100vw;
  z-index: 999;
  top: 0px;
}

.table-header-center .p-datatable-wrapper {
  scrollbar-width: thin; 
  -ms-overflow-style: scrollbar; 
  height: 60vh;
  border: 1px solid #e9ecef;
}

.table-header-center .p-datatable-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

.table-header-center .p-datatable-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.table-header-center .p-datatable-wrapper::-webkit-scrollbar-thumb {
  background: rgba(120, 54, 15, 0.144);
}

.table-header-center .p-datatable-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 54, 15, 0.314);
}

.table-header-center.p-datatable .p-column-header-content{
  justify-content: center;
}

.text-center .p-column-header-content{
  justify-content: center;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 1rem;
  height: 49px !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
  background: #f5f5f5;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  background-color: #373535;
  color: #e9ecef;
  font-weight: 800;
  position: sticky;
  top: 0;
  z-index: 100;
}

.p-datatable .p-datatable-footer {
  padding: 0;
}

.input-number-bg-blue-100 {
  input {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity, 1));

    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));

    border-top-color: #171717;
    border-left-color: #171717;

    &:focus-visible {
      border-color: #015fcc;
    }
  }
}

.input-number-bg-red-100 {
  input {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254 / var(--tw-bg-opacity, 1));

    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));

    border-color: red;

    &:focus-visible {
      border-color: red;
    }
  }
}

table {
  thead {
    font-size: 14px;
  }
  tbody {
    font-size: 14px;
  }
}

/* อนุญาตให้เลือกข้อความใน td และ div ที่อยู่ภายใน */
.p-datatable td,
.p-datatable td div {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: auto;
  user-select: text
}


.step.active {
  /* // background-color: #ffd700; */
  /* Highlight color for active step */
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  /* Glow effect */
  border: 2px solid #fff;
  /* White border for highlight */
  transform: scale(1.05);
  /* Slight zoom effect */
}

.step-indicator {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.step {
  position: relative;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: gray;
  border: 1px solid #ccc;
  flex: 1;
  clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}

.step:first-child {
  clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
}

.step:last-child {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 5% 50%);
}

.step.create {
  background-color: #1e90ff;
  /* Blue */
}

.step.confirm {
  background-color: #ffa500;
  /* Orange */
}

.step.delivery {
  background-color: #32cd32;
  /* Green */
}

.step.approve {
  background-color: #daa520;
  /* Gold */
}

.step.disabled {
  background-color: #d3d3d3;
  /* Light gray for disabled */
  color: #a9a9a9;
  /* Darker gray for text */
  /* cursor: not-allowed; */
}

.step:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 0;
  border-color: transparent transparent transparent white;
  z-index: 1;
}

.step.active:hover {
  transform: scale(1.05);
  /* Zoom effect on hover */
}

.p-paginator.p-component .p-paginator-pages {
  display: flex;
  flex-direction: row;
}