
/* Set full width for container */
.class-custom-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Style the navigation bar */
.class-custom-bar {
    width: 100%;
    flex: 0 0 auto;
    overflow: hidden;
    background-color: #373535;
    color: #fff;
    position: fixed;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    height: 45px;
    // position: relative;
    top: 0;
    /* position: relative; */
}

.class-custom-bar + .body {
    div.body .home {
        align-items: center;
        justify-content: center;
        margin-top: 43px;
        display: flex;
        height: calc(100vh - 228px);
        position: absolute;
        width: 100%;
        overflow: auto;
    }
    
}
.class-custom-bar + .body {
    margin-top: 43px;
    height: calc(100vh - 43px);
    width: 100vw;
    div.body {
        height: calc(100vh - 110px);
        overflow: auto;
    }
}

/* Style the links inside the navigation bar */
.class-custom-bar a {
    float: left;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

/* Change the color of links on hover */
.class-custom-bar a:hover,
.class-custom-bar .class-custom-button:hover {
    background-color: #ced4da;
    color: #373535;

    img {
        filter: none;
    }
}

/* Style the dropdown button */
.class-custom-dropdown-hover .class-custom-button,
.class-custom-avatar .class-custom-button {
    /* padding: 14px 16px; */
    background-color: #373535;
    font-family: inherit;
    border: none;
    outline: none;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
}

.class-custom-dropdown-hover .class-custom-menu,
.class-custom-avatar .class-custom-menu {
    justify-content: flex-start !important;
}


/* Style the dropdown content (hidden by default) */
.class-custom-dropdown-content {
    cursor: auto;
    color: #fff;
    background-color: #373535;
    display: none;
    /* position: absolute; */
    position: fixed;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.s-bar .class-custom-dropdown-content {
    right: 0;
}

/* Style the links inside the dropdown */
.class-custom-dropdown-content a {
    float: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.class-custom-dropdown-content a:hover {
    background-color: #ced4da;
}

/* Show the dropdown menu on hover */
.class-custom-dropdown-hover:hover .class-custom-dropdown-content {
    display: block;
}

.class-custom-card-4,
.class-custom-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.class-custom-dropdown-hover {
    /* display: block; */
    /* padding: 8px 16px; */
    height: 45px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & label , img {
        cursor: pointer;  
    }
}

.class-custom-bar-block .class-custom-bar-item {
    /* display: block; */
    // padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & label , img {
        cursor: pointer;  
    }
    & img {
        margin-right: 5px;
    }
}

.class-custom-btn,
.class-custom-button {
    border: none;
    display: inline-block;
    padding: 8px 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;
}

.class-custom-bar .class-custom-dropdown-hover,
.class-custom-bar .class-custom-dropdown-click {
    position: static;
    float: left;
}

.class-custom-dropdown-click,
.class-custom-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.class-custom-button:hover {
    color: #373535;
    background-color: #ccc;
}

.class-content {
    flex: 1 1 auto;
    /* Content takes remaining space */
    overflow-y: auto;
    /* Enable vertical scroll if content overflows */
}

.class-custom-bar-item.class-custom-button {
    height: 45px;
    background-color: #373535;
    & label , img {
        cursor: pointer;  
    }
    &.class-custom-menu {
        height: 38px;
    }
}

.class-custom-logo {
    padding: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-custom-logo img {
    width: 100px !important;
    height: 30px !important;
    filter: none !important;
    cursor: pointer;
}

.class-custom-bar-item img,
.class-custom-button img {
    height: 20px;
    width: 20px;
    // margin-right: 5px;
    filter: invert(100%);
}

.class-custom-button label {
    height: 30px;
    display: flex;
    align-items: center;

}

.class-custom-avatar img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: none !important;
}

.p-bar {
    display: flex;
    flex-direction: row;
}

.s-bar {
    display: flex !important;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.white-table .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    background-color:  #e9ecef; 
    color: #373535;
}

.table-header-center .p-datatable-wrapper {
    backdrop-filter: blur(2px);
    background-color: #ffffffed;
}