.audio-loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    // background: #6969693b;
    // background: #6969693b url('../assets/images/change.png') center no-repeat;
    flex-direction: column;
    animation: 1.5s spin infinite linear;
}

.bg-audio-loading {
    background: #6969693b;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99990;
}