.class-custom-bar-footer {
    width: 100%;
    flex: 0 0 auto;
    overflow: hidden;
    color: #fff;
    position: fixed;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    font-size: 14px;
    height: 70px;
    bottom: 0;
    left: 0;
    /* position: relative; */

    border-radius: 13px 13px 0px 0px;
    border-bottom: 0;
    padding: 0px 20px;
    background: #d1e7ffc4;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}